In [5]:
import sys
sys.path.append('/usr/local/lib/python3.7/site-packages')

In [6]:
import pandas as pd
import os

In [7]:
# trainFile = 'F:/NotGames/gcn-restaurant-classifier/yelp_dataset/yelp_academic_dataset_review.json'
# pwd = os.getcwd()
# os.chdir(os.path.dirname(trainFile))
# df = pd.read_json(trainFile)
# print(df.head())

In [8]:
#run this code to load the review dataset, set YOUR path to the dataset in the for loop

import json
reviews = []
for line in open('yelp_academic_dataset_review.json', 'r',encoding="utf8"):
    reviews.append(json.loads(line))
print(reviews[0])

{'review_id': 'xQY8N_XvtGbearJ5X4QryQ', 'user_id': 'OwjRMXRC0KyPrIlcjaXeFQ', 'business_id': '-MhfebM0QIsKt87iDN-FNw', 'stars': 2.0, 'useful': 5, 'funny': 0, 'cool': 0, 'text': 'As someone who has worked with many museums, I was eager to visit this gallery on my most recent trip to Las Vegas. When I saw they would be showing infamous eggs of the House of Faberge from the Virginia Museum of Fine Arts (VMFA), I knew I had to go!\n\nTucked away near the gelateria and the garden, the Gallery is pretty much hidden from view. It\'s what real estate agents would call "cozy" or "charming" - basically any euphemism for small.\n\nThat being said, you can still see wonderful art at a gallery of any size, so why the two *s you ask? Let me tell you:\n\n* pricing for this, while relatively inexpensive for a Las Vegas attraction, is completely over the top. For the space and the amount of art you can fit in there, it is a bit much.\n* it\'s not kid friendly at all. Seriously, don\'t bring them.\n* the security is not trained properly for the show. When the curating and design teams collaborate for exhibitions, there is a definite flow. That means visitors should view the art in a certain sequence, whether it be by historical period or cultural significance (this is how audio guides are usually developed). When I arrived in the gallery I could not tell where to start, and security was certainly not helpful. I was told to "just look around" and "do whatever." \n\nAt such a *fine* institution, I find the lack of knowledge and respect for the art appalling.', 'date': '2015-04-15 05:21:16'}

In [9]:
#rev1= reviews[0]

In [10]:
#print(rev1.keys())

In [11]:
# from flatten_json import flatten
# flat_reviews = []
# for r in reviews:
#     flat_reviews.append(flatten(r))

In [12]:
#print(flat_reviews[0])

In [13]:
#create a dataset from the json
from flatten_json import flatten_json
#r = reviews[0:30]
df = pd.DataFrame([flatten_json(x) for x in reviews])
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2.0,5,0,0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1.0,1,1,0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5.0,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1.0,0,0,0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4.0,0,0,0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [14]:
print(df.columns)

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [15]:
important_features = df.drop(['review_id','user_id'],axis=1)
print(important_features.columns)

Index(['business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date'], dtype='object')

In [16]:
print(df.describe())

              stars        useful         funny          cool
count  8.021122e+06  8.021122e+06  8.021122e+06  8.021122e+06
mean   3.703575e+00  1.322882e+00  4.596423e-01  5.745620e-01
std    1.490486e+00  3.550831e+00  2.188143e+00  2.476906e+00
min    1.000000e+00 -1.000000e+00  0.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  1.122000e+03  9.760000e+02  5.020000e+02

In [17]:
for c in ['stars', 'useful', 'funny','cool']:
    print(df[c].unique())

[2. 1. 5. 4. 3.]
[   5    1    0    2    3   24    9    7    4   18    6   10   11   17
   12    8   14   13   15   98   23   65   19   20   35   16   21   48
   30   31   38   25   40   39   22   28   26   27   46   44   52   63
   76   47   29   75   32   33   64   37   54   69   36   43   59   60
   49   34   73   57   58   56   61   42   45   74   55   41   53   96
   50   51   86   71  151   80   85   70   87   91   68   78   94   99
   67   95   97   81  111   62   82  101  102   72   83  128  115  148
   66  110  100  114  107  118  164  104  129  130   92  113  146  112
   79  103  173  160  196  137  132   89  125  117  121   93  185  109
  190  180  157  177  106  213  144   90  120   84  135  206  134  133
  138  122   77  119  270  221  178  127  105  145  126  181  354  141
  168  257  191   88  187  415  142  139  167  143  116  215  147  149
  198  152  208  131  193  314  108  124  327  162  201  140  172  163
  123  202  171  199  236  155  209  228  166  176  222  136  204  197
  231  188  154  170  161  326  268  159  290  210  174  410  183  253
  342  294  451  186  150  214  340  227  217  165  255  243  273  169
  578  403  184  367  274  182  216  308  305  175  269  376  361  211
  226  223  156  468  248  328  225  192 1122  348  495  382  238  339
  212  252   -1  355  285  370  250  414  189  249  420  527  153  758]
[  0   1  19   3   5   2   4   8   7  10   6   9  75  11  15  28  13  45
  21  37  22  12  20  24  30  17  25  18  16  33  14  31  29  23  27  66
  51  26  59  62  41  39  42  65  35  55  34  88  40  36  32  50  64  54
  46  80  86  48  52  38  93  63  71  47  73  89  53  44  60  68  92 103
  77  95  96  81  49  43  79 112  61  97  56  57 164 120 105  67  72 104
  87 116  70  58  90 101 124 135 171  76 115  74  82  84  78 114  99 205
  98 160  69 172 108  94  91 181 109  83 119 169  85 158 170 111 178 149
 100 106 258 113 214 175 182 180 179 159 183 102 177 168 107 136 197 176
 165 218 118 110 193 153 142 189 123 185 117 239 133 173 275 315 132 472
 413 330 696 203 460 146 210 262 148 235 531 269 145 976 128 268 260 348
 295 374 194 174 134 390 121 147 232 733 631 259 283 137 166 548 222 532
 129 540 163 249 141 150 291 144 127 217 786]
[  0   1  20   4   2  10   6   3  12   5   8  11   7  13  93   9  19  31
  17  47  16  22  28  14  15  40  21  25  43  26  23  27  24  18  33  32
  55  51  57  41  46  37  34  38  54  39  49  89  50  30  29  36  53  35
  85  67  42  72  84  69  48  91  82  66  71  99  60  44  92  97  77  75
  78 114  52  62  63  80  56  74 110 112  58  45  79 111  98  65  64  88
 109 156 104 118 134  86 122  68 127 115 130  90  59  94 157  95  70  87
  73  76  61 185 125 117 119 188  81 101 178 183 147 158 100 199 137 120
 105 142  83 126 197 108  96 174 121 128 107 194 193 143 202 133 116 103
 187 141 102 144 189 205 138 106 131 132 124 325 151 113 136 129 195 123
 162 198 180 177 211 139 196 140 135 181 191 171 172 153 190 148 145 222
 173 149 203 166 284 165 390 182 163 175 502 160 212  -1 169 164 310 167
 179 321]

In [18]:
print(df.isnull().values.any())

False

In [19]:
#save to CSV file
important_features.to_csv('data/reviews.csv', encoding='utf-8', index=False)

OSError: [Errno 28] No space left on device