In [1]:
import pandas as pd
import os,sys

In [2]:
import json
businesses = []
for line in open('/Users/isabelli/Downloads/yelp_dataset/yelp_academic_dataset_business.json', 'r',encoding="utf8"):
    businesses.append(json.loads(line))
print(businesses[0])

{'business_id': 'f9NumwFMBDn751xgFiRbNA', 'name': 'The Range At Lake Norman', 'address': '10913 Bailey Rd', 'city': 'Cornelius', 'state': 'NC', 'postal_code': '28031', 'latitude': 35.4627242, 'longitude': -80.8526119, 'stars': 3.5, 'review_count': 36, 'is_open': 1, 'attributes': {'BusinessAcceptsCreditCards': 'True', 'BikeParking': 'True', 'GoodForKids': 'False', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'ByAppointmentOnly': 'False', 'RestaurantsPriceRange2': '3'}, 'categories': 'Active Life, Gun/Rifle Ranges, Guns & Ammo, Shopping', 'hours': {'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0', 'Wednesday': '10:0-18:0', 'Thursday': '11:0-20:0', 'Friday': '11:0-20:0', 'Saturday': '11:0-20:0', 'Sunday': '13:0-18:0'}}

In [4]:
bus1 = businesses[0]

In [5]:
print(bus1.keys())

dict_keys(['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours'])

In [7]:
import json
from flatten_json import flatten_json
#r = reviews[0:30]
df = pd.DataFrame([flatten_json(x) for x in businesses])
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,attributes_BestNights,attributes_Music,attributes_Smoking,attributes_DietaryRestrictions,attributes_DriveThru,attributes_HairSpecializesIn,attributes_BYOBCorkage,attributes_AgesAllowed,attributes_RestaurantsCounterService,attributes_Open24Hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print(df.columns)

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes_BusinessAcceptsCreditCards', 'attributes_BikeParking',
       'attributes_GoodForKids', 'attributes_BusinessParking',
       'attributes_ByAppointmentOnly', 'attributes_RestaurantsPriceRange2',
       'categories', 'hours_Monday', 'hours_Tuesday', 'hours_Wednesday',
       'hours_Thursday', 'hours_Friday', 'hours_Saturday', 'hours_Sunday',
       'hours', 'attributes', 'attributes_DogsAllowed', 'attributes_WiFi',
       'attributes_RestaurantsAttire', 'attributes_RestaurantsTakeOut',
       'attributes_NoiseLevel', 'attributes_RestaurantsReservations',
       'attributes_RestaurantsGoodForGroups', 'attributes_HasTV',
       'attributes_Alcohol', 'attributes_RestaurantsDelivery',
       'attributes_OutdoorSeating', 'attributes_Caters',
       'attributes_WheelchairAccessible', 'attributes_AcceptsInsurance',
       'attributes_RestaurantsTableService', 'attributes_Ambience',
       'attributes_GoodForMeal', 'attributes_HappyHour',
       'attributes_BusinessAcceptsBitcoin', 'attributes_BYOB',
       'attributes_Corkage', 'attributes_GoodForDancing',
       'attributes_CoatCheck', 'attributes_BestNights', 'attributes_Music',
       'attributes_Smoking', 'attributes_DietaryRestrictions',
       'attributes_DriveThru', 'attributes_HairSpecializesIn',
       'attributes_BYOBCorkage', 'attributes_AgesAllowed',
       'attributes_RestaurantsCounterService', 'attributes_Open24Hours'],
      dtype='object')

In [27]:
df.shape

(209393, 60)

In [17]:
important_features = df[['business_id','name', 'state','stars','review_count','categories','is_open']]
print(important_features.columns)

Index(['business_id', 'name', 'state', 'stars', 'review_count', 'categories',
       'is_open'],
      dtype='object')

In [18]:
#We will focus on businesses in the Restaurant category
important_features.categories.unique()

array(['Active Life, Gun/Rifle Ranges, Guns & Ammo, Shopping',
       'Health & Medical, Fitness & Instruction, Yoga, Active Life, Pilates',
       'Pets, Pet Services, Pet Groomers', ...,
       'Contractors, Local Services, Appliances & Repair, Heating & Air Conditioning/HVAC, Water Heater Installation/Repair, Plumbing, Home Services',
       'Department Stores, Food, Mobile Phones, Fashion, Shopping, Grocery',
       'American (New), Food, Burgers, Restaurants, Fast Food'],
      dtype=object)

In [19]:
important_features.head()

,business_id,name,state,stars,review_count,categories,is_open
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,NC,3.5,36,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...",1
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD",AZ,5.0,4,"Health & Medical, Fitness & Instruction, Yoga,...",1
2,XNoUzKckATkOD1hP6vghZg,Felinus,QC,5.0,5,"Pets, Pet Services, Pet Groomers",1
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,NV,2.5,3,"Hardware Stores, Home Services, Building Suppl...",0
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,AZ,4.5,26,"Home Services, Plumbing, Electricians, Handyma...",1

In [24]:
df_restaurants = important_features[important_features.categories.str.contains("Restaurants", na=False)]

In [25]:
df_restaurants.head()

,business_id,name,state,stars,review_count,categories,is_open
8,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,IL,4.5,5,"Ethnic Food, Food Trucks, Specialty Food, Impo...",1
20,CsLQLiRoafpJPJSkNX2h5Q,Middle East Deli,NC,3.0,5,"Food, Restaurants, Grocery, Middle Eastern",0
24,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,ON,4.5,4,"Restaurants, Cheesesteaks, Poutineries",1
25,lu7vtrp_bE9PnxWfA8g4Pg,Banzai Sushi,ON,4.5,7,"Japanese, Fast Food, Food Court, Restaurants",1
30,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,ON,3.0,3,"Persian/Iranian, Turkish, Middle Eastern, Rest...",1

In [26]:
df_restaurants.shape

(63944, 7)

In [29]:
print(df_restaurants.isnull().values.any())

False

In [30]:
df_restaurants.to_csv('data/business_data.csv', encoding='utf-8', index=False)

In [31]:
ls

README.MD
data/
get_reviews.py
load_save_restaurant_business_data.ipynb
load_save_review_data.ipynb
notebook_env.db
req.txt
separate_by_buisiness_id.ipynb
test_models.ipynb

In [32]:
cd data/ta

/Users/isabelli/Developer/DataSciLabFinalProject/sentiment-analysis-yelp/data

In [33]:
ls

business/          business_data.csv  reviews.csv        t.txt