In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/reviews.csv')

FileNotFoundError: [Errno 2] File data/reviews.csv does not exist: 'data/reviews.csv'

In [5]:
df.head()
businesses  = df['business_id'].unique()
print(businesses)
print(len(businesses))

NameError: name 'df' is not defined

In [ ]:
for b in businesses:
    #print(df[df['business_id'].str.contains("-MhfebM0QIsKt87iDN-FNw")])
    bus_data = df[df['business_id'].str.contains(b)]
    bus_data.to_csv(str('data/business/'+b+'.csv'), encoding='utf-8', index=False)

In [3]:
c = pd.read_csv('data/business/-MhfebM0QIsKt87iDN-FNw.csv')

In [4]:
c.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2.0,5,0,0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,t7xOZF5UKXjSpVcXLOSAgw,owbC7FP8SNAlwv6f9S5Stw,-MhfebM0QIsKt87iDN-FNw,2.0,2,2,0,I have been there. I believe more than once. \...,2014-03-14 08:24:25
2,MimB5Xh85rG7phUMPrShag,v9vGnjphb0Hta0lvtf5haA,-MhfebM0QIsKt87iDN-FNw,3.0,5,3,3,I haven't been to Las Vegas in about 15 years....,2015-10-07 22:16:59
3,sLkT7J06L4TK4PiRUFax2g,AXuHgGQoNPkiSXTxHlQc0A,-MhfebM0QIsKt87iDN-FNw,2.0,0,0,0,One of the few places in town you can view wor...,2015-11-18 22:20:55
4,cnV5xtm6WuyaLfot9uWbDg,LkWNo83Lg92C5V4JEyxOZA,-MhfebM0QIsKt87iDN-FNw,3.0,3,1,2,This is a hard one to review. I was excited to...,2010-10-10 01:27:31